html {
    min-height: 50%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*background-image: linear-gradient(-225deg, #A445B2 0%, black 100%);*/
    background-color: #FFFFFF;
    min-height: 100%;
    padding-bottom: 5rem;
}

.titulo {
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}

.container {
    background-color: #003157;
    margin: 50px auto;
    border: solid 1px #000;
}

.nota {
    background-color: #FFFFFF;
    margin: 50px auto;
    border: solid 1px #000;
}

header {
    margin-top: 3rem;
}

header h1 {
    color: white;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: #00a3e0;
    font-size: 30px;
    margin-bottom: 30px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: #FFFFFF;
    font-size: 20px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: black;
    font-size: 10px;
}

.lista-simulacion .simulacion {
    border-bottom: 1px solid #e1e1e1;
    padding: 2rem;
    padding-bottom: 3rem;
}

.lista-simulacion .simulacion:last-of-type {
    border-bottom: 0;
}

.lista-simulacion .simulacion p {
    margin: 0;
}

.lista-simulacion .simulacion button {
    margin-top: 1rem!important;
}

.lista-simulacion .simulacion span {
    font-weight: bold;
}

textarea {
    height: 200px!important;
}

svg {
    width: 21px;
}

.alerta {
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
}

.error {
    background-color: red;
}